<!-- <div class="items">
  <div *ngFor="let item of items$ | async">
    <b>ID: </b> {{ item._id }}<br />
    <b>Title: </b>{{ item.title }}<br />
    <img src="{{ item.thumbnailUrl }}" alt="" />
    <br />
    <br />
    <br />
  </div>
</div> -->

<div class="items" style="background-color: var(--background)">
  <!-- //////////HEADER////////// -->
  <div
    class="w-[100%]"
    [ngClass]="!filterPanel.expanded ? 'border-bottom-avtive' : 'border-bottom'"
  >
    <div class="mx-auto max-w-screen-sm">
      <div
        class="gap-x-4 w-[100%] flex flex-row items-center justify-center p-3 search-form"
      >
        <mat-form-field>
          <mat-label>Was suchen Sie?</mat-label>
          <input
            #search
            matInput
            type="text"
            [(ngModel)]="searchbarValue"
            (keyup.enter)="submitFilterSearchbar(searchbarValue)"
          />

          <button
            (click)="submitFilterSearchbar(searchbarValue)"
            matSuffix
            mat-icon-button
            aria-label="search"
            class="mr-2"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <button
          (click)="filterPanel.expanded = !filterPanel.expanded"
          matSuffix
          mat-icon-button
          aria-label="filter"
        >
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="mx-auto w-[100%] max-w-screen-sm">
    <mat-accordion multi class="filter-form">
      <mat-expansion-panel #filterPanel="matExpansionPanel">
        <div class="px-3">
          <mat-form-field class="relative">
            <mat-label>Marke</mat-label>

            <mat-select
              [(ngModel)]="selectedBrand"
              [ngClass]="selectedBrand ? 'hideArrow' : ''"
              (selectionChange)="onBrandChange()"
            >
              <mat-option
                [value]="brand"
                *ngFor="let brand of getObjectKeys(filter)"
              >
                {{ brand }}
              </mat-option>
            </mat-select>
            <mat-icon
              (click)="onBrandReset()"
              style="right: 0; bottom: 15px"
              class="absolute"
              *ngIf="selectedBrand"
              >clear</mat-icon
            >
          </mat-form-field>

          <mat-form-field class="relative">
            <mat-label>Modell</mat-label>
            <mat-select
              [(ngModel)]="selectedModell"
              [ngClass]="selectedModell ? 'hideArrow' : ''"
              [disabled]="!selectedBrand"
              (selectionChange)="onModellChange()"
            >
              <mat-option
                *ngFor="let modell of getObjectKeys(filter[selectedBrand])"
                [value]="modell"
              >
                {{ modell }}
              </mat-option>
            </mat-select>
            <mat-icon
              (click)="onModellReset()"
              style="right: 0; bottom: 15px"
              class="absolute"
              *ngIf="selectedModell"
              >clear</mat-icon
            >
          </mat-form-field>

          <mat-form-field class="relative">
            <mat-label>Motor</mat-label>
            <mat-select
              [(ngModel)]="selectedMotor"
              [ngClass]="selectedMotor ? 'hideArrow' : ''"
              [disabled]="!selectedModell"
              (selectionChange)="onMotorChange()"
            >
              <mat-option
                *ngFor="
                let value of getObjectKeys(
                  filter[selectedBrand]?.[selectedModell]
                )
              "
                [value]="filter[selectedBrand][selectedModell][value]"
              >
                {{ filter[selectedBrand][selectedModell][value] }}
              </mat-option>
            </mat-select>
            <mat-icon
              (click)="onMotorReset()"
              style="right: 0; bottom: 15px"
              class="absolute"
              *ngIf="selectedMotor"
              >clear</mat-icon
            >
          </mat-form-field>
        </div>
        <div
          class="px-3 pb-3 filter-form-buttons flex"
          style="border-bottom: solid 1px var(--textcolor-X)"
        >
          <span class="basis-3/12"></span>
          <div class="basis-6/12">
            <button
              mat-raised-button
              (click)="
                submitFilter(); filterPanel.expanded = !filterPanel.expanded
              "
            >
              Suchen
            </button>
          </div>
          <span class="basis-3/12">
            <span class="flex flex-row justify-center items-center"> </span>
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- //////////HEADER////////// -->
  <div
    class="grid gap-x-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 mx-auto px-6"
  >
    <div class="relative mb-12" *ngFor="let item of items$ | async">
      <a class="cursor-pointer" (click)="openDetails(item)">
        <div
          class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <img [src]="" class="w-full" [alt]="item.image" />

          <div
            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]"
          ></div>
        </div>
        <h5 class="mb-4 text-lg font-bold">{{ item.title }}</h5>
        <div
          class="mb-4 flex flex-wrap items-center text-sm font-medium text-danger dark:text-danger-500 justify-start"
        >
          <div class="tagButton m-1 px-2 py-1" *ngFor="let tag of item.tags">
            {{ tag }}
          </div>
        </div>
        <p class="">
          {{ item.description }}
        </p>
        <button (click)="addToCard(item)">Add to card</button>
       
      </a>
    </div>
  </div>
</div>
